{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Tapdoc Admin</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'adminglobal_assets/css/icons/icomoon/styles.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/bootstrap_limitless.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/layout.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/components.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/colors.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/style.css'%}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'adminglobal_assets/js/main/jquery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/main/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/loaders/blockui.min.js'%}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3_tooltip.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/styling/switchery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/selects/bootstrap_multiselect.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/ui/moment/moment.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/pickers/daterangepicker.js'%}"></script>

	<script src="{% static 'adminassets/js/app.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/demo_pages/dashboard.js'%}"></script>
	<!-- /theme JS files -->

</head>
<body>

	<!-- Main navbar -->
	{% include 'accountheading.html' %}
	<!-- /main navbar -->




	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-md align-self-start">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				<span class="font-weight-semibold">Main sidebar</span>
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">
				<div class="card card-sidebar-mobile">

					<!-- Header -->


					<!-- User menu -->
					<div class="sidebar-user">
						<div class="card-body">
							<div class="media">
								<div class="mr-3">
									<a href="#"><img src="{% static 'adminglobal_assets/images/placeholders/placeholder.jpg'%}" width="70" height="70" class="rounded-circle" alt=""></a>
								</div>

								<div class="media-body" style=" margin: 15px 0 0 0; ">
									<div class="media-title font-weight-semibold">Elvin Seyidzade</div>
									<div class="font-size-lg opacity-100">
										<i class="fas fa-tint" style=" color: #ff83ad; "></i> &nbsp;O(l) RH+
									</div>
								</div>

								<div class="ml-3 align-self-center">
									<a href="{% url 'accountsettings'%}" class="text-white"><i class="icon-cog3"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->

					<!-- Main navigation -->
					<div class="card-body p-0">
						<ul class="nav nav-sidebar" data-nav-type="accordion">

							<!-- Main -->
							<li class="nav-item">
								<a href="{% url 'account'%}" class="nav-link">
									<i class="icon-home4"></i>
									<span>
										Ümumi Məlumat

									</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Tibbi Kitabça</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Sağlamlıq Monitoring</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-stack"></i> <span>Dərmanlar</span></a>


							</li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-width"></i> <span>İstiqamətlər</span></a></li>
							<!-- /main -->

							<!-- Layout -->
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Bildirişlər</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-page-break2"></i> <span>Mesajlar</span></a>

							</li>
							<li class="nav-item nav-item-expanded nav-item-open">
								<a href="{% url 'accountdoctors'%}" class="nav-link"><i class="icon-indent-decrease2"></i> <span>Həkimlər</span></a>

							</li>
							<li class="nav-item">
								<a href="{% url 'accountcinics'%}" class="nav-link"><i class="icon-menu3"></i> <span>Klinikalar</span></a>

							</li>
							<li class="nav-item">
								<a href="{% url 'accountaptek'%}" class="nav-link"><i class="icon-menu3"></i> <span>Apteklər</span></a>

							</li>

							<!-- /layout -->

						</ul>
					</div>
					<!-- /main navigation -->

				</div>
			</div>

			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->

				<div class="row">
					<div class="col-xl-12">

						<!-- Marketing campaigns -->
						<div class="card">
					<div class="card-header header-elements-inline">
						<h6 class="card-title">Axtar</h6>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
	                		</div>
                		</div>
					</div>

					<div class="card-body" style="">
						<form action="#">
							<div class="form-group-feedback form-group-feedback-right">
								<input type="search" class="form-control" placeholder="Axtarış...">
								<div class="form-control-feedback">
									<i class="icon-search4 font-size-base text-muted"></i>
								</div>
							</div>
						</form>
					</div>
				</div>



						<!-- /marketing campaigns -->


					</div>



				</div>


				<div class="row">
					<div class="col-xl-12">

						<!-- Marketing campaigns -->


						<div class="card">
							<div class="card-header header-elements-sm-inline">
								<h6 class="card-title">Yadda Saxlanılan Həkimlər</h6>
								<div class="header-elements">
									<span class="badge bg-success badge-pill">28 həkim</span>
									<div class="list-icons ml-3">
				                		<div class="list-icons-item dropdown">
				                			<a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i></a>
											<div class="dropdown-menu">
												<a href="#" class="dropdown-item"><i class="icon-sync"></i> Listi Yenilə</a>
												<a href="#" class="dropdown-item"><i class="icon-list-unordered"></i> Daha Ətraflı</a>
												<a href="#" class="dropdown-item"><i class="icon-pie5"></i> Statistika</a>
												<div class="dropdown-divider"></div>
												<a href="#" class="dropdown-item"><i class="icon-cross3"></i> Hamısını Sil</a>
											</div>
				                		</div>
				                	</div>
			                	</div>
							</div>

							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<a href="{% url 'accountdoctordetail'%}"><div class="d-flex align-items-center mb-3 mb-sm-0">
									<div class="ml-3 ads1user">
										<img class="rounded-circle" src="{% static 'img/user2.jpeg'%}" width="50px"/>
										</div>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Sevinc Maharramova </h5>
										<span class="badge badge-mark border-success mr-1"></span> <span class="text-muted">Kardioloq</span>
									</div>
								</div></a>

								<div class="d-flex align-items-center mb-3 mb-sm-0">

								</div>

								<div>
									<a href="#" class="btnn">Qəbula Yazıl</a>
									<a href="#" class="btnn"><i class="icon-bubbles5"></i> </a>
								</div>
							</div>

							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
							<a href="{% url 'accountdoctordetail'%}">	<div class="d-flex align-items-center mb-3 mb-sm-0">
									<div class="ml-3 ads1user">
										<img class="rounded-circle" src="{% static 'img/user1.jpeg'%}" width="50px"/>
										</div>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Tamilla Afandiyeva </h5>
										<span class="badge badge-mark border-success mr-1"></span> <span class="text-muted">Stomotoloq</span>
									</div>
								</div></a>

								<div class="d-flex align-items-center mb-3 mb-sm-0">

								</div>

								<div>
									<a href="#" class="btnn">Qəbula Yazıl</a>
									<a href="#" class="btnn"><i class="icon-bubbles5"></i> </a>
								</div>
							</div>


							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<a href="{% url 'accountdoctordetail'%}"><div class="d-flex align-items-center mb-3 mb-sm-0">
									<div class="ml-3 ads1user">
										<img class="rounded-circle" src="{% static 'img/user3.jpeg'%}" width="50px"/>
										</div>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Taleh Seyidli </h5>
										<span class="badge badge-mark border-success mr-1"></span> <span class="text-muted">Cərrah</span>
									</div>
								</div></a>

								<div class="d-flex align-items-center mb-3 mb-sm-0">

								</div>

								<div>
									<a href="#" class="btnn">Qəbula Yazıl</a>
									<a href="#" class="btnn"><i class="icon-bubbles5"></i> </a>
								</div>
							</div>

							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<a href="{% url 'accountdoctordetail'%}"><div class="d-flex align-items-center mb-3 mb-sm-0">
									<div class="ml-3 ads1user">
										<img class="rounded-circle" src="{% static 'img/user4.jpeg'%}" width="50px"/>
										</div>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Elnara Musayeva </h5>
										<span class="badge badge-mark border-success mr-1"></span> <span class="text-muted">Gnikoloq</span>
									</div>
								</div></a>

								<div class="d-flex align-items-center mb-3 mb-sm-0">

								</div>

								<div>
									<a href="#" class="btnn">Qəbula Yazıl</a>
									<a href="#" class="btnn"><i class="icon-bubbles5"></i> </a>
								</div>
							</div>


						</div>

						<!-- /marketing campaigns -->









					</div>





						<!-- /my messages -->



					</div>

				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text">
				&copy; 2018. <a href="#">Tapdoc.az</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Dəstək</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Ətraflı Məlumat</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-phone mr-2"></i> Əlaqə</span></a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->

</body>
</html>
