{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Tapdoc Admin</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'adminglobal_assets/css/icons/icomoon/styles.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">


	<link href="{% static 'adminassets/css/bootstrap_limitless.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/layout.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/components.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/colors.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/style.css'%}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'adminglobal_assets/js/main/jquery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/main/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/loaders/blockui.min.js'%}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3_tooltip.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/styling/switchery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/selects/bootstrap_multiselect.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/ui/moment/moment.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/pickers/daterangepicker.js'%}"></script>

	<script src="{% static 'adminassets/js/app.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/demo_pages/dashboard.js'%}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	{% include 'accountheading.html' %}
	<!-- /main navbar -->




	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-md align-self-start">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				<span class="font-weight-semibold">Main sidebar</span>
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
		{% include 'accountsidebar.html' %}
			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->

				<div class="row">
					<div class="col-xl-12">

						<!-- Marketing campaigns -->
						<div class="card">
					<div class="card-header header-elements-inline">
						<h6 class="card-title">Axtarış</h6>
						<div class="header-elements">
							<div class="list-icons">
		                		<a class="list-icons-item" data-action="collapse"></a>
	                		</div>
                		</div>
					</div>

					<div class="card-body" style="">
						<form action="#">
							<div class="form-group-feedback form-group-feedback-right">
								<input type="search" class="form-control" placeholder="Axtarış">
								<div class="form-control-feedback">
									<i class="icon-search4 font-size-base text-muted"></i>
								</div>
							</div>
						</form>
					</div>
				</div>



						<!-- /marketing campaigns -->


					</div>



				</div>


				<div class="row">
					<div class="col-xl-8">

						<!-- Marketing campaigns -->
						<div class="card">


							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<div class="col-sm-12 col-lg-1 ">

									<div class="ml-3 ads1user">
										<img src="{% static 'adminglobal_assets/images/userss.png'%}" style="margin: 0 4px 0 -23px;"/>
										</div>
								</div>
								<div class="col-sm-12 col-lg-11">

									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">DÜZƏLİŞ ET</h5>
										<p>Укажите ваше имя и фамилию, чтобы записываться на прием в клиники и получать медицинские данные</p>
									</div>
								</div>



							</div>


						</div>

						<div class="card">


							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<div class="col-sm-12 col-lg-1 ">

									<div class="ml-3 ads1user">
										<img src="{% static 'adminglobal_assets/images/useractivate.png'%}" style="margin: 0 4px 0 -23px;"/>
										</div>
								</div>
								<div class="col-sm-12 col-lg-11">

									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">AKTİVLƏŞDİR</h5>
										<p>Укажите ваше имя и фамилию, чтобы записываться на прием в клиники и получать медицинские данные</p>
											</div>
								</div>



							</div>


						</div>

						<div class="card">


							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<div class="col-sm-12 col-lg-1 ">

									<div class="ml-3 ads1user">
										<img src="{% static 'adminglobal_assets/images/userss.png'%}" style="margin: 0 4px 0 -23px;"/>
										</div>
								</div>
								<div class="col-sm-12 col-lg-11">

									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">YENİLƏ</h5>
										<p>Укажите ваше имя и фамилию, чтобы записываться на прием в клиники и получать медицинские данные</p>
											</div>
								</div>



							</div>


						</div>
						<div class="card">


							<div class="card-body d-sm-flex align-items-sm-center justify-content-sm-between flex-sm-wrap">
								<div class="col-sm-12 col-lg-1 ">

									<div class="ml-3 ads1user">
										<img src="{% static 'adminglobal_assets/images/userss.png'%}" style="margin: 0 4px 0 -23px;"/>
										</div>
								</div>
								<div class="col-sm-12 col-lg-11">

									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">MÜRACİƏT</h5>
										<p>Укажите ваше имя и фамилию, чтобы записываться на прием в клиники и получать медицинские данные</p>
											</div>
								</div>



							</div>


						</div>


						<!-- /marketing campaigns -->









					</div>

					<div class="col-xl-4 col-lg-5 col-md-6">
						<!-- My messages -->
						<div class="card ads2">
							<div class="card-header header-elements-inline">
								<h4 class="card-title">DƏSTƏK ALMAQ</h4>

							</div>

							<!-- Numbers -->
							<div class="card-body py-0">
								<div class="row text-center">
									<div class="col-8">
										<div class="mb-3">
											<h5 class="font-weight-semibold mb-0">İstədiyiniz zaman məsləhət ala bilərsiniz.</h5>

										</div>
									</div>



									<div class="col-4">

												<img src="{% static 'adminassets/css/ads2.png' %}"/>

									</div>
								</div>
							</div>
							<!-- /numbers -->


							<!-- Area chart -->
							<div id="messages-stats"></div>
							<!-- /area chart -->



						</div>


						<div class="card ads2">
							<div class="card-header header-elements-inline">
								<h4 class="card-title">24/7</h4>

							</div>

							<!-- Numbers -->
							<div class="card-body py-0">
								<div class="row">
									<div class="col-8">
										<div class="mb-3">
											<h5 class="font-weight-semibold mb-0">DAİM</h5>
											<h5 class="font-weight-semibold mb-0">XİDMƏTİNİZDƏ</h5>
											<br>


										</div>
									</div>



									<div class="col-4">
										<div class="mb-3">

										</div>
									</div>
								</div>
							</div>
							<!-- /numbers -->


							<!-- Area chart -->
							<div id="messages-stats"></div>
							<!-- /area chart -->



						</div>



						<!-- /my messages -->



					</div>

				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text">
				&copy; 2018. <a href="#">Tapdoc.az</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Dəstək</a></li>
				<li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Ətraflı Məlumat</a></li>
				<li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-phone mr-2"></i> Əlaqə</span></a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->

</body>
</html>
