{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Tapdoc Admin</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'adminglobal_assets/css/icons/icomoon/styles.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/bootstrap_limitless.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/layout.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/components.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/colors.min.css'%}" rel="stylesheet" type="text/css">
	<link href="{% static 'adminassets/css/style.css'%}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'adminglobal_assets/js/main/jquery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/main/bootstrap.bundle.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/loaders/blockui.min.js'%}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/visualization/d3/d3_tooltip.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/styling/switchery.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/forms/selects/bootstrap_multiselect.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/ui/moment/moment.min.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/plugins/pickers/daterangepicker.js'%}"></script>

	<script src="{% static 'adminassets/js/app.js'%}"></script>
	<script src="{% static 'adminglobal_assets/js/demo_pages/dashboard.js'%}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
{% include 'accountheading.html' %}
	<!-- /main navbar -->




	<!-- Page content -->
	<div class="page-content pt-0">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-light sidebar-main sidebar-expand-md align-self-start">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				<span class="font-weight-semibold">Main sidebar</span>
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">
				<div class="card card-sidebar-mobile">

					<!-- Header -->


					<!-- User menu -->
					<div class="sidebar-user">
						<div class="card-body">
							<div class="media">
								<div class="mr-3">
									<a href="#"><img src="{% static 'adminglobal_assets/images/placeholders/placeholder.jpg'%}" width="70" height="70" class="rounded-circle" alt=""></a>
								</div>

								<div class="media-body" style=" margin: 15px 0 0 0; ">
									<div class="media-title font-weight-semibold">Elvin Seyidzade</div>
									<div class="font-size-lg opacity-100">
										<i class="fas fa-tint" style=" color: #ff83ad; "></i> &nbsp;O(l) RH+
									</div>
								</div>

								<div class="ml-3 align-self-center">
									<a href="{% url 'accountsettings'%}" class="text-white"><i class="icon-cog3"></i></a>
								</div>
							</div>
						</div>
					</div>
					<!-- /user menu -->

					<!-- Main navigation -->
					<div class="card-body p-0">
						<ul class="nav nav-sidebar" data-nav-type="accordion">

							<!-- Main -->
							<li class="nav-item">
								<a href="{% url 'account'%}" class="nav-link">
									<i class="icon-home4"></i>
									<span>
										Ümumi Məlumat

									</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-copy"></i> <span>Tibbi Kitabça</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-color-sampler"></i> <span>Sağlamlıq Monitoring</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-stack"></i> <span>Dərmanlar</span></a>


							</li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-width"></i> <span>İstiqamətlər</span></a></li>
							<!-- /main -->

							<!-- Layout -->
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-stack2"></i> <span>Bildirişlər</span></a>


							</li>
							<li class="nav-item">
								<a href="#" class="nav-link"><i class="icon-page-break2"></i> <span>Mesajlar</span></a>

							</li>
							<li class="nav-item">
								<a href="{% url 'accountdoctors'%}" class="nav-link"><i class="icon-indent-decrease2"></i> <span>Həkimlər</span></a>

							</li>
							<li class="nav-item nav-item-expanded nav-item-open">
								<a href="{% url 'accountcinics'%}" class="nav-link"><i class="icon-menu3"></i> <span>Klinikalar</span></a>

							</li>
							<li class="nav-item">
								<a href="{% url 'accountaptek'%}" class="nav-link"><i class="icon-menu3"></i> <span>Apteklər</span></a>

							</li>

							<!-- /layout -->

						</ul>
					</div>
					<!-- /main navigation -->

				</div>
			</div>

			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Dashboard content -->



				<div class="card">
							<div class="card-header header-elements-sm-inline">
								<h6 class="card-title">Həkim Haqqında</h6>
								<div class="header-elements">

			                	</div>
							</div>

							<div class="card-body d-md-flex align-items-md-center justify-content-md-between flex-md-wrap">
								<div class="d-flex align-items-center mb-3 mb-md-0">
									<img src="{% static 'img/clinic3.jpg'%}" width="130px" class="rounded-circle rounded-circle-docdetail"/>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Elnara Mahmudova </h5>
										 <span>Kardiolog, Endokrinolog</span><br><br>
										<span class="text-muted">Tibb Elmlər Namizədi</span><br><br>
										<a href="#" class="btn bg-teal-400"><i class="icon-copy"></i> Qəbula Yazıl</a>
									</div>
								</div>

								<div class="d-flex align-items-center mb-3 mb-md-0">

								</div>

								<div class="d-flex align-items-center mb-3 mb-md-0">
									<a href="#" class="btn bg-transparent border-indigo-400 text-indigo-400 rounded-round border-2 btn-icon">
										<i class="icon-spinner11"></i>
									</a>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">13 il</h5>
										<span class="text-muted">təcrübə</span>
									</div>
								</div>

								<div>

								</div>
							</div>


						</div>

				<div class="card">


							<div class="card-body d-md-flex align-items-md-center justify-content-md-between flex-md-wrap">
								<div class="d-flex align-items-center mb-3 mb-md-0">

								</div>

								<div class="d-flex align-items-center mb-3 mb-md-0">
									<a href="#" class="btn bg-transparent border-indigo-400 text-indigo-400 rounded-round border-2 btn-icon">
										<i class="icon-alarm-add"></i>
									</a>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">New Med</h5>
										<span class="text-muted">Nəsimi ray.</span>
									</div>
								</div>

								<div class="d-flex align-items-center mb-3 mb-md-0">
									<a href="#" class="btn bg-transparent border-indigo-400 text-indigo-400 rounded-round border-2 btn-icon">
										<i class="icon-spinner11"></i>
									</a>
									<div class="ml-3">
										<h5 class="font-weight-semibold mb-0">Oxygen Klinikası</h5>
										<span class="text-muted">Nərimanov ray.</span>
									</div>
								</div>

								<div>

								</div>
							</div>

							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>

											<td style="width: 50px">
											<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="218" id="gmap_canvas" src="https://maps.google.com/maps?q=baku&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:218px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:218px;width:100%;}</style></div>
											</td>

											</tr>
									</thead>
									<tbody>
									<tr>
											<td style="width: 50px">
											<h4>О специалисте</h4>
<p>Компетенции:</p>
<ul>
<li>амбулаторная гинекология;</li>
<li>диагностика и терапия эндокринных нарушений в акушерстве и гинекологии;</li>
<li>лечение бесплодия, в том числе с применением вспомогательных репродуктивных технологий (ВРТ);</li>
<li>амбулаторное ведение беременности;</li>
<li>обследование, лечение и ведение беременности у пациентов с привычным невынашиванием беременности;</li>
<li>диагностика и лечение заболеваний шейки матки, в том числе с применением лазера;</li>
<li>ультразвуковая диагностика в акушерстве и гинекологии (за исключением скрининговых УЗИ плода);</li>
<li>рентгенологическая диагностика в гинекологии (гистеросальпингография).</li></ul>
<h4>Образование</h4>
<p>1997-2003 гг. — Санкт-Петербургская Государственная Медицинская Академия им. И.И. Мечникова, лечебное дело (диплом с отличием);
2003-2005 гг.- клиническая ординатура по специальности «Акушерство-гинекология в Санкт-Петербургском Государственном Университете, медицинский факультет;
2005-2009 гг. — очная аспирантура на кафедре акушерства и гинекологии СПбГУ, медицинский факультет;
2009-2010 гг.- профессиональная переподготовка по специальности «Ультразвуковая диагностика» в Санкт-Петербургской Педиатрической Академии;
2005-2018 гг. — неоднократные последипломные усовершенствования по акушерству и гинекологии, по лечению бесплодия с применением вспомогательных репродуктивных технологий, по гинекологии детей и подростков, кольпоскопии, эндокринологии в акушерстве и гинекологии, ультразвуковой диагностике.
</p>
<h4>Опыт работы</h4><p>
2003-2005 гг. — врач акушер-гинеколог, приемное отделение СПбГБУЗ «Городская Покровская больница»
2005-2009 гг. — научная и клиническая работа в очной аспирантуре на базе НИИ АГ им. Д.О. Отта; СПбГУЗ Род.дом №17; поликлиники СПбГУ; ФГУ СПб научно-практический центр медико-социальной экспертизы и реабилитации инвалидов им. Г.А. Альбрехта;
с 2005 г. по настоящее время врач акушер-гинеколог клиники Euromed In Vitro.</p>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
						</div>


			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- Footer -->
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
				<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text">
				&copy; 2018. <a href="#">Tapdoc.az</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Dəstək</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Ətraflı Məlumat</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-phone mr-2"></i> Əlaqə</span></a></li>
			</ul>
		</div>
	</div>
	<!-- /footer -->

</body>
</html>
