{% load static i18n %}
<footer class="footer">
<div class="wrapper">
        <div class="footer__inner">
            <aside class="footer__left">
                <div class="footer__navs">
                    <nav class="footer__nav">
                        <div class="footer__title">{% trans 'XIDMƏTLƏR' %}</div>
                        <ul class="footer__list">
                            <li><a href="#">{% trans 'Haqqımızda' %}</a></li>
                            <li><a href="#">{% trans 'Vakansiyalar' %}</a></li>
                            <li><a href="#">{% trans 'Press' %}</a></li>
                            <li><a href="#">{% trans 'Komandamız' %}</a></li>
                            <li><a href="#">{% trans 'Əlaqə' %}</a></li>
                            <li><a href="#">{% trans 'FAQ' %}</a></li>
                            <li><a href="#">{% trans 'Saytın Xəritəsi' %}</a></li>
                            <li><a href="#">{% trans 'Razılaşmalar' %}</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__nav">
                        <div class="footer__title">{% trans 'XƏSTƏLƏR ÜÇÜN' %}</div>
                        <ul class="footer__list">
                            <li><a href="{% url 'doctor'%}">{% trans 'Həkimlər' %}</a></li>
                            <li><a href="{% url 'clinic'%}">{% trans 'Klinikalar' %}</a></li>
                                                                <li><a href="{% url 'diaqnostika'%}">{% trans 'Diaqnostika' %}</a></li>
                                                            <li><a href="{% url 'xidmetler'%}">{% trans 'Xidmətlər' %}</a></li>
                            <li><a href="#">{% trans 'Tibbi Kitabxanalar' %}</a></li>
                            <li><a href="#">{% trans 'Xəstəliklər' %}</a></li>
                                              <li><a href="#">{% trans 'Endirim Aksiyalar' %}</a></li>
                            <li><a href="#">{% trans 'Güvənirlik' %}</a></li>
            <li><a href="#">{% trans 'Şəxsi Məlumatların Qorunulması' %}</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__nav">
                        <div class="footer__nav-group">
                            <div class="footer__title">{% trans 'HƏKIM VƏ KLINIKALAR' %}</div>
                            <ul class="footer__list">
                                <li><a href="#" rel="nofollow">{% trans 'Şəxsi Kabinet' %}</a></li>
                                <li><a href="#" rel="nofollow">{% trans 'Qeydiyyat' %}</a></li>
                            </ul>
                        </div>
                        <div class="footer__nav-group">
                            <div class="footer__title">{% trans 'PARTNYORLAR' %}</div>
                            <ul class="footer__list">
                                <li><a href="#" rel="nofollow">{% trans 'Şəxsi Kabinet' %}</a></li>
                                <li><a href="#" rel="nofollow">{% trans 'Partnyorluq Programı' %}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </aside>
            <aside class="footer__right">
                <div class="footer__logo"></div>
                <div class="footer__contacts">
                    {% trans 'Bizə Yazın' %}: <b><a href="mailto:info@tapdoc.az">info@tapdoc.az</a></b><br>
                                                {% trans 'Bizə zəng' %}:
                                                        <span class="header_contact_phone ">
           (+994) 51 623-66-51						</span>
                                                    <br>
                                            <span class="footer__copyright">© tapdoc.az 2018</span>
                </div>
                <div class="footer__socials">
                  <a href="#" target="_blank" class="footer__social footer__social_vk"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_fb"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_linkedin"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_youtube"></a>
                </div>
            </aside>
        </div>
</div>
      <div class="callback-block">
    <a href="tel:+74959270101" class="callback" data-page="clinic" data-action="index">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>записаться по телефону</span>
        </a>
    </div>
</footer>
