<footer class="footer">
<div class="wrapper">
        <div class="footer__inner">
            <aside class="footer__left">
                <div class="footer__navs">
                    <nav class="footer__nav">
                        <div class="footer__title">XIDMƏTLƏR</div>
                        <ul class="footer__list">
                            <li><a href="https://tapdoc.az/about">Haqqımızda</a></li>
                            <li><a href="https://vacancy.tapdoc.az/">Vakansiyalar</a></li>
                            <li><a href="https://tapdoc.az/about/press">Press</a></li>
                            <li><a href="https://tapdoc.az/about/team">Komandamız</a></li>
                            <li><a href="https://tapdoc.az/about/contacts">Əlaqə</a></li>
                            <li><a href="https://tapdoc.az/about/faq">FAQ</a></li>
                            <li><a href="https://tapdoc.az/sitemap">Saytın Xəritəsi</a></li>
                            <li><a href="https://tapdoc.az/offer">Razılaşmalar</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__nav">
                        <div class="footer__title">XƏSTƏLƏR ÜÇÜN</div>
                        <ul class="footer__list">
                            <li><a href="https://tapdoc.az/doctor">Həkimlər</a></li>
                            <li><a href="https://tapdoc.az/clinic">Klinakalar</a></li>
                                                                <li><a href="https://diagnostica.tapdoc.az/">Diaqnostika</a></li>
                                                            <li><a href="https://tapdoc.az/service">Xidmətlər</a></li>
                            <li><a href="https://tapdoc.az/library">Tibbi Kitabxanalar</a></li>
                            <li><a href="https://illness.tapdoc.az/">Xəstəliklər</a></li>
                                              <li><a href="https://live.tapdoc.az/docsales">Endirim Aksiyalar</a></li>
                            <li><a href="https://tapdoc.az/confidentiality">Güvənirlik</a></li>
            <li><a href="https://tapdoc.az/agreement">Şəxsi Məlumatların Qorunulması</a></li>
                        </ul>
                    </nav>
                    <nav class="footer__nav">
                        <div class="footer__nav-group">
                            <div class="footer__title">HƏKIM VƏ KLINIKALAR</div>
                            <ul class="footer__list">
                                <li><a href="https://tapdoc.az/lk" rel="nofollow">Şəxsi Kabinet</a></li>
                                <li><a href="https://tapdoc.az/register" rel="nofollow">Qeydiyyat</a></li>
                            </ul>
                        </div>
                        <div class="footer__nav-group">
                            <div class="footer__title">PARTNYORLAR</div>
                            <ul class="footer__list">
                                <li><a href="https://pk.tapdoc.az/" rel="nofollow">Şəxsi Kabinet</a></li>
                                <li><a href="https://pk.tapdoc.az/affiliate" rel="nofollow">Partnyorluq Programı</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </aside>
            <aside class="footer__right">
                <div class="footer__logo"></div>
                <div class="footer__contacts">
                    Bizə Yazın: <b><a href="mailto:info@tapdoc.az">info@tapdoc.az</a></b><br>
                                                Bizə zəng:
                                                        <span class="header_contact_phone ">
           (+994) 927-01-01						</span>
                                                    <br>
                                            <span class="footer__copyright">© tapdoc.az 2018</span>
                </div>
                <div class="footer__socials">
                  <a href="#" target="_blank" class="footer__social footer__social_vk"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_fb"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_linkedin"></a>
                  <a href="#" target="_blank" class="footer__social footer__social_youtube"></a>
                </div>
            </aside>
        </div>
</div>
      <div class="callback-block">
    <a href="tel:+74959270101" class="callback" data-page="clinic" data-action="index">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>записаться по телефону</span>
        </a>
    </div>
</footer>
