{% load static %}
<!doctype html>
<!--[if lt IE 7]>		<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>			<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>			<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->	<html class="no-js" lang="zxx"> <!--<![endif]-->
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/rf.css'%}">
<link href="https://use.fontawesome.com/96812244f6.css" media="all" rel="stylesheet">
</head><body>


<div data-bind="component: {name: 'dd-request-form'}" class="popup-book"><div class="popup-book__head"><span data-bind="text: headingText">Запись на приём</span></div>

<!-- ko ifnot: WINDOW_HAS_PARENT -->
<div class="dd-online-overlay-close" data-bind="click: closePopupClick"></div>
<!-- /ko -->

<!-- ko with: infoboxComponent -->
<div class="popup-book__infobox" data-bind="component: $data"><div class="popup-book__info clearfix">
	<div class="popup-book__doc">
		<div class="popup-book__pic">
			<img data-bind="attr: {src: doctor.image}" src="https://cdn.docdoc.ru/doctor/3152.81x81.jpg?1547227204">
		</div>
		<div class="doc__rating">
			<div class="rate">
				<!-- ko if: isNewDoctor --><!-- /ko -->
				<!-- ko if: inRatingTest && !isNewDoctor --><!-- /ko -->
				<!-- ko ifnot: inRatingTest -->
				<div class="rate__default">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<div class="rate__value" data-bind="style: { width: doctor.ratingPercent}" style="width: 92%;">
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
					<i class="fa fa-star" aria-hidden="true"></i>
				</div>
				<!-- /ko -->
			</div>
		</div>
	</div>
	<div class="popup-book__float">
		<div class="popup-book__info-name" data-bind="text: doctor.name">Анисимова Наталья Юрьевна</div>
		<span data-bind="text: specialityName">Стоматолог</span> <span data-bind="text: clinicSubtitle"> в клинике ОН КЛИНИК на Цветном бульваре</span><br>
        <!-- ko if: priceSelectorVisible -->
		<span class="popup-book__info-price">Стоимость</span> <span data-bind="text: price.actualPriceText">бесплатно</span><br>
        <!-- /ko -->
		<!-- ko if: clinicAddressText -->
		<span class="popup-book__info-address">Адрес</span> <span data-bind="text: clinicAddressText">Цветной б-р, д. 30, корп. 2</span><br>
		<!-- /ko -->

		<!-- ko if: closestStation -->
			Метро
			<span class="popup-book__info-stations">
				<span data-bind="text: closestStation">Цветной бульвар (390 м)</span>
			</span>
		<!-- /ko -->

	</div>
</div>

<style>
	.doc__rating .new_doctor {
		margin-top: 0;
		font-size: 12px;
		color: #222;
		background: #f9e784;
		padding: 2px 6px;
		display: inline-block;
		border-radius: 4px;
		text-align: center;
	}
</style></div>
<!-- /ko -->

<div class="popup-book__content">
    <!-- ko if: step() == STEP_SLOTS --><!-- /ko -->

    <!-- ko if: step() == STEP_PATIENT_NAME -->
    <div class="popup-book-step">

        <div class="popup-book__item" data-bind="visible: specialitySelectorVisible">
            <div class="popup-book__label"><span>Специальность</span></div>
            <div class="form-input-withlabel valided">
                <select class="popup-book-overlay-select" data-bind="
						value: speciality,
						options: specialities,
						optionsText: 'name',
						disable: disableInputs,
						event:{ change: specialityChanged }
					"><option value="">Стоматолог</option><option value="">Стоматолог-терапевт</option><option value="">Стоматолог-ортопед</option><option value="">Стоматолог-пародонтолог</option></select>
                <div class="form-input-ico "><i class="fa fa-stethoscope"></i></div>
                <div class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="css: {'form-input--disabled': disableInputs}">&nbsp;</div>
            </div>
        </div>

        <div class="popup-book__item" data-bind="visible: clinicSelectorVisible" style="display: none;">
            <div class="popup-book__label"><span>Клиника</span></div>
            <div class="form-input-withlabel valided">
                <select class="popup-book-overlay-select" data-bind="
						value: clinic,
						options: clinics,
						optionsText: function(item) {
                            return item.isPrivateDoctor ? item.address : item.name
                        },
						disable: disableInputs
					"><option value="">ОН КЛИНИК на Цветном бульваре</option></select>
                <div class="form-input-ico "><i class="fa fa-map-marker"></i></div>
                <div class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="css: {'form-input--disabled': disableInputs}">&nbsp;</div>
            </div>
        </div>

        <!-- ko if: dateSelectorVisible() && interval() == null -->
        <div class="popup-book__item" data-bind="css: {'popup-book__item--error': slotField.showError()}">
            <div class="popup-book__label">
                <span data-bind="text: slotLabelText, css: {'mark-label-exclusive': isExclusiveLabel}">Дата и время приёма</span>
            </div>

            <div class="form-input-withlabel js-popup-date-back" data-bind="
                    css: {'form-input--disabled': dateSelectorInputCss(), 'valided': dateSelectorInputValid()},
                    click: changeSlotClick" style="cursor: pointer">
                <div class="form-input-ico "><i class="fa fa-clock-o fa-flip-horizontal"></i></div>
                <div class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="text: dateAdmissionText, css: dateSelectorInputTextCss">(выберите время приема)</div>
            </div>

            <div class="form-input--busy" data-bind="visible: slotField.isSlotBusy()" style="display: none;">Ой! Просим прощения, кто-то вас опередил. Пожалуйста, выберите другое время приема.</div>
            <div class="clearfix"></div>
        </div>
        <!-- /ko -->

        <!-- ko if: interval() != null --><!-- /ko -->

        <div class="popup-book__item popup-book__fio" data-bind="css: {'popup-book__item--error': patientNameField.showError()}">
            <div class="popup-book__label"><span data-bind="text: patientNameFieldLabel">Ваше имя</span>
            </div>
            <div class="form-input-withlabel" data-bind="css: { valided: patientNameValid }">
                <div class="form-input-ico "><i class="fa fa-user"></i></div>
                <input type="text" class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="
						attr: {placeholder: patientNameFieldPlaceHolder},
						textInput: patientNameInput,
						disable: disableInputs,
						valueUpdate: 'afterkeydown',
						event: {keyup: patientNameKeypress, blur: patientNameBlur},
						css: {'form-input--disabled': disableInputs}
					" placeholder="Контактное лицо">
            </div>
        </div>

        <div class="popup-book__item popup-book__lastname" data-bind="css: {'popup-book__item--error': patientLastNameField.showError()}, visible: showLastName">
            <div class="popup-book__label"><span>Фамилия</span></div>
            <div class="form-input-withlabel" data-bind="css: { valided: patientLastNameValid }">
                <div class="form-input-ico "><i class="fa fa-user"></i></div>
                <input type="text" placeholder="Фамилия" class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="
						textInput: patientLastNameInput,
						disable: disableInputs,
						valueUpdate: 'afterkeydown',
						event: {keyup: patientLastNameKeypress, blur: patientLastNameBlur},
						css: {'form-input--disabled': disableInputs}
					">
            </div>
        </div>

        <div class="popup-book__item popup-book__age" data-bind="css: {'popup-book__item--error': patientAgeField.showError()}, visible: showAgeForm" style="display: none;">
            <div class="popup-book__label">
                <span>Ваш возраст</span>
            </div>
            <div class="form-input-withlabel" data-bind="css: { valided: patientAgeInput }">
                <div class="form-input-ico "><i class="fa fa-edit"></i></div>
                <input type="text" placeholder="Возраст пациента" class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="
						textInput: patientAgeInput,
						disable: disableInputs,
						valueUpdate: 'afterkeydown',
						event: {keyup: patientAgeKeypress, blur: patientAgeBlur},
						hasFocus: patientAgeHasFocus,
						css: {'form-input--disabled': disableInputs}
					">
            </div>
        </div>
        <div class="popup-book__item popup-book__birthdate" data-bind="css: {'popup-book__item--error': patientBirthDateField.showError()}, visible: showBirthDateForm">
            <div class="popup-book__label">
                <span>Введите дату рождения пациента</span>
            </div>
            <div class="form-input-withlabel" data-bind="css: { valided: patientBirthDateInput }">
                <div class="form-input-ico"><i class="fa fa-edit"></i></div>
                <input type="text" placeholder="дд-мм-гггг" class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="
						birthDateTextInput: patientBirthDateInput,
						disable: disableInputs,
						event: { keyup: patientBirthDateKeypress, blur: patientBirthDateBlur },
						hasFocus: patientBirthDateHasFocus,
						css: {'form-input--disabled': disableInputs}
					">
            </div>
        </div>
        <div class="popup-book__item popup-book__phone" data-bind="css: {'popup-book__item--error': patientPhoneField.showError()}">
            <div class="popup-book__label">
                <span>Телефон для подтверждения записи</span>
            </div>
            <div class="form-input-withlabel" data-bind="css: { valided: patientPhoneValid }">
                <div class="form-input-ico "><i class="fa fa-phone"></i></div>
                <input type="text" placeholder="+7 (___) ___-__-__" class="form-input form-input--border form-input--label form-input--size_small form-input--font_big" data-bind="
						phoneTextInput: patientPhoneInput,
						disable: disableInputs,
						valueUpdate: 'afterkeydown',
						event: {keyup: patientPhoneKeypress, blur: patientPhoneBlur},
						hasFocus: patientPhoneHasFocus,
						css: {'form-input--disabled': disableInputs}
					" maxlength="18">
            </div>
            <!-- ko if: showPhoneNotText -->
            <div class="popup-book__label valided-info">
                <span><i class="fa fa-info-circle"></i></span>
            </div>
            <div class="popup-book__note" data-bind="text: phoneNoteText">На этот номер вы получите SMS с&nbsp;кодом подтверждения и информацию о записи</div>
            <!-- /ko -->
            <!-- ko if: showSmsSentText --><!-- /ko -->
        </div>

        <!-- ko if: showConfirmCall > 0--><!-- /ko -->

        <!-- ko if: isSpam --><!-- /ko -->

        <!-- ko ifnot: showSMSVerificationForm -->
        <div class="popup-book__request clearfix">
            <button class="popup-book__send button button--color_green" data-bind="
                        visible: !isSpam(),
						enable: uiSendRequestButtonNew().enable,
						css: uiSendRequestButtonNew().css,
						click: sendRequestClick
					">
                <div class="button__cont" data-bind="text: uiSendRequestButtonNew().text">Записаться</div>
            </button>
        </div>
        <!-- /ko -->
        <!-- ko if: showSMSVerificationForm --><!-- /ko -->
	    <!-- ko if: insuranceState() == 1 --><!-- /ko -->
        <div class="popup-book__legal-links">
            Нажимая «Записаться», я принимаю
            <a data-bind="click: function () { getBaseUrl('/offer') }">условия пользовательского соглашения</a>,
            <a data-bind="click: function () { getBaseUrl('/confidentiality') }">положения о защите персональных данных</a>
            и даю свое
            <a data-bind="click: function () { getBaseUrl('/agreement') }">согласие на обработку персональных данных</a>.

        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: step() == STEP_THANKYOU --><!-- /ko -->
</div>

<!-- ko if: step() == STEP_THANKYOU --><!-- /ko -->

<div class="popup-book-close" data-bind="visible: isClosing" style="display: none;">
    <!-- ko ifnot: WINDOW_HAS_PARENT -->
    <div class="dd-online-overlay-close" data-bind="click: closePopupClick"></div>
    <!-- /ko -->

    <div class="popup-book-close__content">
        <div class="popup-book-close__head">
            Вы действительно хотите<br>прервать запись?
        </div>

        <div style="clear:both"></div>

        <!-- ko if: helpPhone -->
	        <!-- ko with: helpPhone -->
	        <div class="popup-book-close__note">Если у вас возникли вопросы, <br>позвоните нам по телефону:</div>
	        <div class="popup-book-close__phone">
	            <a data-bind="attr: {href: href}, text: text" href="tel:+74991168178">+7 (499) 116-81-78</a>
	        </div>
	        <!-- /ko -->
        <!-- /ko -->
        <!-- ko ifnot: helpPhone --><!-- /ko -->

        <div class="popup-book-close__button button button--color_grey" data-bind="click: acceptClosingClick">
            <div class="button__cont">Прервать</div>
        </div>
        <div class="popup-book-close__button button button--color_green" data-bind="click: cancelClosingClick">
            <div class="button__cont">Продолжить</div>
        </div>
    </div>
</div>
</div>
</body></html>
